# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Frontend Dev Cache
# =========================
frontend/dev/
dashboard/.next/
dashboard/node_modules/
secrets
# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo
*~

# =========================
# Environment
# =========================
.env
.env.*

core/__pycache__

approval/__pycache__

api/__pycache__
api/routes/__pycache__