# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*
venv/
.venv/
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Node (extra safety)
# =========================
node_modules/
.next/